@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy-Bold.ttf');
	src: local('☺'), url('../fonts/Gilroy-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy-Medium.ttf');
	src: local('☺'), url('../fonts/Gilroy-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy-Regular.ttf');
	src: local('☺'), url('../fonts/Gilroy-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/gilroy-semi-bold.ttf');
	src: local('☺'), url('../fonts/gilroy-semi-bold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/ofont.ru_Gilroy.ttf');
	src: local('☺'), url('../fonts/ofont.ru_Gilroy.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Sofia';
	src: url('../fonts/SofiaProRegular.ttf');
	src: local('☺'), url('../fonts/SofiaProRegular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}